*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Open sans, sans-serif;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
  display: flex;
  justify-content: center;
}
#monForm {
  display: flex;
  flex-direction: column;
  align-items: center;}
.err{
  border: 1px solid red;
  color: red;
}
.valid{
  border: 1px solid rgb(21, 185, 73);
  color: rgb(21, 185, 73);
}
.errsimple{
  border: 3px solid red;
}
.card{
  background: #bdd0f5;
  padding: 1rem;  margin-bottom: 1rem;
}
input[type="submit"]{
  background: #b3cce8;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 25px;
  color: rgb(107, 106, 105);
  font-size: larger;
  font-weight: 500;
  letter-spacing: 1px;
}
